<!--Template Inheritance-->
{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg') }}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">As ML Engineer this is what I do</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
        Enables companies to use these huge amounts of data for applications
        that would not have been possible before. ML algorithms can learn the
        habits and buying behavior of customers, perform incredibly complex
        math, and enable completely new applications.
      </p>
      <p>
        Almost every industry will be impacted by AI and machine learning
        including but not limited to medical, IT, gaming, communications,
        security, etc. Even now, every industry is fundamentally changed by the
        connection of data and logic.
      </p>
      <p>
        In order to master this flood of information, human beings have now
        turned to automated processes and smart machines that can appropriately
        store and organize huge data sets. Netflix, for example, uses machine
        learning on its recommendation service. Depending on what the user
        watches, Netflix saves data and the algorithm gives out recommendations
        based on this data.
      </p>
      <p>
        This is where a Machine Learning Engineer comes in – an ML Engineer
        works on building AI and software systems capable of handling huge data
        sets and extracting meaningful information from them.
      </p>
    </div>
  </div>
</div>

{% endblock %}
