<!--Template Inheritance-->
{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='img/dash-bg.jpg')}}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin Panal</h1>
          <span class="subheading">Manage Your Post & Change Them</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <class class="col-lg-8 col-md-10 mx-auto">
      <!--File Uploader-->
      <h1>Basic Actions</h1>
      <a href="/edit/0"></a><button class="btn btn-primary">ADD A NEW POST</button></a>
      <a href="/logout"></a><button class="btn btn-primary">LOGOUT</button></a>
      <hr>
      <h2>File Upload</h2>
      We will add file Uploader here
      <h2>Edit Posts</h2>
      
      <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th>Sno</th>
            <th>Title</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delet</th>
          </tr>
        </thead>
        <tbody>
          <!--Jinja `for` loop-->
          {% for post in posts %}
          <tr>
            <td>{{posts.sno}}</td>
            <td>{{posts.title}}</td>
            <td>{{posts.date}}</td>
            <td><a href="/edit/{{post.sno}}"><button class="btn btn-primary">Edit</button></a></td>
            <td><button class="btn btn-primary">Delet></button></td>
          </tr>
          <!--end of jinja for loop-->
          {% endfor %}
        </tbody>
      </table>

      <!-- Pager -->
    </div>
  </div>
</div>
{% endblock %}
