<!--Template Inheritance-->
{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='img/dash-bg.jpg')}}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin Panal</h1>
          <span class="subheading">Manage Your Post & Change Them</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <class class="col-lg-8 col-md-10 mx-auto">
        
      <h1>Basic Actions</h1>
      <a href="/dashboard"></a><button class="btn btn-primary">DASHBOARD</button></a>
      <a href="/logout"></a><button class="btn btn-primary">LOGOUT</button></a>
      <hr>

      <!--File Uploader-->
      <h2>Add/Edit Posts</h2>

<!--Edit Form-->
      <form
        name="sentMessage"
        id="contactForm"
        action="/edit/{{post.sno}}"
        method="post"
        novalidate
      >
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              name="title"
              id="title"
              required
              data-validation-required-message="Please enter Title."
              value="{{post.title}}"
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Tagline</label>
            <input
              type="text"
              class="form-control"
              placeholder="Tagline"
              id="tline"
              name="tline"
              required
              data-validation-required-message="Please enter your Tagline."
              value="{{post.tagline}}"
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Slug</label>
            <input
              type="text"
              class="form-control"
              placeholder="Slug"
              id="slug"
              name="slug"
              required
              data-validation-required-message="Please enter your Slug."
              value="{{post.slug}}"
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Content</label>
            <textarea
              rows="5"
              class="form-control"
              placeholder="Content"
              name="content"
              id="content"
              required
              data-validation-required-message="Please enter your Content."
            ></textarea>
            <p class="help-block text-danger">{{post.content}}</p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Image File</label>
            <input
              rows="5"
              class="form-control"
              placeholder="Image File"
              name="img_file"
              id="img_file"
              required
              data-validation-required-message="Please Enter the name of Image File."
              value="{{post.img_file}}"
            ></input>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br />
        <div id="success"></div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">
            Submit
          </button>
        </div>
      </form>
      <!--Form Ends-->

      <!-- Pager -->
    </div>
  </div>
</div>
{% endblock %}

<!--http://127.0.0.1:5000/edit/0-->>