<!--Template Inheritance-->
{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename='img/home.jpg') }}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>TheCodingChunks</h1>
          <span class="subheading"
            >A Blog loved by Machine Learning Engineer</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- TODO: Fetech it using the for loop using the database -->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            Man must explore, and this is exploration at its greatest
          </h2>
          <h3 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Start Bootstrap</a>
          on January 26, 2021
        </p>
      </div>
      <hr />

      <!-- TODO: Fetech it using the for loop using the database -->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            I believe every human has a finite number of heartbeats. I don't
            intend to waste any of mine.
          </h2>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Start Blog</a>
          on January 18, 2021
        </p>
      </div>
      <hr />

      <!-- TODO: Fetech it using the for loop using the database -->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">Science has not yet mastered prophecy</h2>
          <h3 class="post-subtitle">
            We predict too much for the next year and yet far too little for the
            next ten.
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Start Bootstrap</a>
          on January 12, 2021
        </p>
      </div>
      <hr />

      <!-- TODO: Fetech it using the for loop using the database -->
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">Failure is not an option</h2>
          <h3 class="post-subtitle">
            Many say exploration is part of our destiny, but it’s actually our
            duty to future generations.
          </h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">Start Bootstrap</a>
          on January 06, 2021
        </p>
      </div>
      <hr />

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts →</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
